In [1]:
import pandas as pd
import os

In [2]:
customers_df = pd.read_csv(r'D:\Project\Test\FPT_TEST00\datasource\customers.csv')

In [4]:
# find invalid or missing email addresses
customers_df[customers_df['email'].isnull() | ~customers_df['email'].str.contains('@')]
# there are no null email addresses, but some emails do not contain '@'

,customer_id,name,email,address
14,b5d0dfb0-1436-47b7-a271-c68d61107abf,Pamela Powers,email.example.com,"78750 Larry Forge, Conniefort, IL 73452"
21,3e13c62a-919d-4031-a9e6-d1c65ce2c257,Jamie Black,email.example.com,"0433 Robin Cove Apt. 077, Travisside, NH 12363"
34,405a2399-5e84-4462-bee6-7e7a61cfd987,Michael Lyons,email.example.com,"3096 Kayla Lake Suite 120, Reynoldsstad, UT 01404"
46,c3a81186-eb42-4486-9571-17595fe15ea2,Austin Smith,email.example.com,"5268 Hunter Landing, South Samanthaborough, NV..."
48,091a64f3-0114-4a2c-8220-b2a75f369f44,Matthew Ferguson,email.example.com,"USNV Romero, FPO AA 52746"
52,658e9707-4a73-4a64-a6a8-41f694be8dad,Mary Rodriguez,email.example.com,"407 Daugherty Parkways, West Jared, NE 12076"
64,82ad68d0-b284-4d80-95ca-0f9779a0986a,Angela Pittman,email.example.com,"21783 Tran Shore Suite 686, East Justin, RI 12861"
72,0131b090-2ca1-48f5-bf15-35b3f1923bdd,Lindsay Young,email.example.com,"981 Sanchez Tunnel Apt. 542, Lake Kellichester..."
77,4b11842a-4751-4127-99d8-f1e9f1742647,Tiffany Gomez,email.example.com,"9405 Lisa Avenue, Christinebury, KY 74506"
114,c6c80b6f-8b78-40e3-825e-04098102e9d3,Mr. Jonathan Russo II,email.example.com,"8630 Krystal Greens, Dunnfort, MT 21984"
129,aee5701d-6b1d-4800-9729-f64e37f85974,Roger Thomas,email.example.com,"0822 Alvarado Brook, Christinachester, MI 00824"
139,35e10cb9-c793-4c1d-8786-c03efa8716be,Eric Lawson,email.example.com,"94298 Cody Cape, Jessicamouth, CT 97256"
151,6ff322dc-e0b5-48c8-b1b1-f7372ff6002e,Bethany Stone,email.example.com,"54183 Brett Junctions Suite 631, Martinstad, L..."
159,df08d0a1-cf84-412c-bf2e-3efe23e3a447,Anthony Gomez,email.example.com,"130 Morris Road Apt. 553, North Sean, CA 66144"
162,de07e4a8-1911-4b99-94e8-33d07df8ed1e,Peter Fuentes,email.example.com,"17272 Tina Mountains, New Angela, NV 46800"
233,8924d170-3bb7-421b-ab9a-238b4a84a5a8,Melanie Jones,email.example.com,"802 Wolfe Turnpike Apt. 151, Jacksonhaven, MN ..."
272,3d02b05b-8095-4247-936d-18d8ed4c59cf,Ralph Norton,email.example.com,"954 Susan Port Suite 443, East Christina, GA 0..."
288,eb00caec-18ca-4c84-9d2f-a0c8419b2226,Joseph Henry,email.example.com,"PSC 8498, Box 1459, APO AP 34806"
296,8b27fb34-fa32-4741-8d35-fec898edf964,Johnathan Mata,email.example.com,"65618 Madison Points, New Alexis, SC 44854"
317,bf2ee230-5b66-42be-9518-a562b7c3bd91,Joseph Woodward,email.example.com,"051 Justin Greens, North Christopherbury, IL 6..."
341,009d8fce-6cef-4fb3-b7c3-59ce09c1e58a,Dylan Washington,email.example.com,"66756 Heather Alley Suite 409, Johnfurt, UT 10629"
347,cc2c2900-cc67-4626-b8f1-33a3a895e1cb,Kathryn Rivas,email.example.com,"3370 Kristi Hollow, Chadmouth, PW 34601"
425,921adf45-50ac-456c-b886-c53395ae2e00,Andrea Wilson,email.example.com,"3639 Bell Brook Suite 080, Johnathanhaven, NJ ..."
439,3d4854b3-d727-4573-bc2c-c82517dc4592,Jennifer Hamilton,email.example.com,"017 Travis Crossroad Suite 277, New Calebport,..."
454,3cf6a1a6-aeb2-408f-a881-93f1176d3a6d,Juan White,email.example.com,"25358 Smith Turnpike Suite 652, Brettberg, MA ..."
460,832de139-27fb-45d6-ac5d-a9af47a901e8,Daniel Perez,email.example.com,"3877 Cisneros Canyon, West Paigestad, ME 54700"
530,6b383f44-4200-4137-a0e9-0c3ac9c5b032,Sarah Wagner,email.example.com,"19206 Brittany Stream, North Nicholaschester, ..."
532,151b012b-e81d-445c-b6dc-5c2944e3c855,Damon Rose,email.example.com,"257 Ross Dam, West Joseton, KY 21987"
556,f224e661-52d4-4177-a4c8-b714801b95e8,Malik Williams,email.example.com,"13047 Lee Tunnel, Richardsburgh, NV 08341"
559,d5054050-5c09-4171-ad0e-d58fe312ecb2,Anthony Bennett,email.example.com,"4588 Moore Key, Hansonton, AZ 21726"
581,fba4c743-3e0a-4c1f-bd11-5df04748cffe,Joanna Walker,email.example.com,"644 Shannon Courts Apt. 549, Jacksonton, WA 29150"
586,efb64a13-252d-4172-b572-ce1a21e592c1,Patricia Fernandez,email.example.com,"17041 Anthony Spurs, New Amy, ID 54492"
605,f975ed72-69d5-43cf-8ba6-b4cda6531384,Dr. Amanda Williams,email.example.com,"92315 Brown Road, Jaredbury, VT 76928"
625,5c27cd99-642e-4c6a-a42a-6edf8b2f3935,Jeremy Montgomery,email.example.com,"89171 Adams Canyon Suite 458, Karltown, IA 23724"
649,fcfd6a8d-9cdd-4915-aa46-8c98c00fe7d1,Denise Perez,email.example.com,"8935 Daniel Pike, West Kevinport, MO 93344"
663,041a8e9b-b37e-44fb-b556-be26d2eb90d1,Daniel Morgan,email.example.com,"5319 Shaffer Station, Jenniferburgh, VT 32249"
665,326b4639-1481-45ed-8fa0-5481b8af5084,Ryan Johnson,email.example.com,"73205 Miller Squares Apt. 406, Higginschester,..."
693,56a44022-6488-4db5-b74a-2a43dc7bf3be,Brian Johnson,email.example.com,"0727 Rhonda Greens Suite 144, New Brianland, N..."
697,8bcc0f79-1c09-4e8d-8722-ff451fbd1931,James Garcia,email.example.com,"65205 Friedman Mills Suite 644, North Andrew, ..."
723,a71750ac-ffd5-48a2-9aa1-444efe4170c2,Michael Boyd,email.example.com,"94083 Ashley Mills Suite 277, North Tomshire, ..."
758,4de4fe29-e997-4017-88cb-b7cd7aee874a,Mark Vargas,email.example.com,"612 Anderson Turnpike, New Teresa, GA 17750"
761,5fe52de3-357a-47b1-bbc6-5692716c1806,David Gray,email.example.com,"19467 Thomas Corners, Johnsonstad, NE 05533"
784,3096e3cc-30a5-486c-87d7-c6c4adc7903a,Patricia Chavez,email.example.com,"33940 Barrett Vista, Michaelland, TN 26381"
808,7767b445-f49b-4993-941f-4800f29557a6,Katrina Mcdaniel,email.example.com,"71813 Jeremy Streets, Brandonburgh, IN 22036"
822,30dc8738-745c-4a81-8fa9-a33d3523db28,Daniel Rodriguez,email.example.com,"3423 Andre Bridge Suite 665, East Marissa, MN ..."
839,abd68ee6-0f73-46c8-8958-0188964650e5,Robert Martin,email.example.com,"3875 Garcia River Suite 122, West Amandatown, ..."
867,87bc910d-1a66-4118-a62e-b69f3af30643,Natalie Ramirez,email.example.com,"674 Simmons Turnpike Apt. 654, New Christiansh..."
878,6efb01f6-f939-405f-ae3f-7cfc8f1a6fd3,Cody Stewart,email.example.com,"5291 Jackson Track Apt. 110, Jacquelinefort, M..."
903,0970825d-b4a3-4db9-89bd-e2a391cc68d5,Matthew Woods,email.example.com,"4163 Raymond Inlet Suite 296, Lake Alexander, ..."
922,28d30a2d-7cab-4cbd-8fb0-9e708a71c9d6,Stephen Mccoy,email.example.com,"7000 Gonzalez Landing Apt. 105, Seanville, PR ..."
924,d88da927-41dd-4346-b1a9-872ffee19ca8,Angelica Patel,email.example.com,"61646 Patricia Square, Edwardmouth, DE 53572"
965,7d00cf62-8a36-4741-a9a9-4e4f9cf137dd,Ronald Mccarthy,email.example.com,"28683 Bailey Valleys, Maryfurt, MP 39612"

In [5]:
cleaned_customers_df = customers_df[customers_df['email'].str.contains('@')]

In [ ]:
cleaned_customers_df

,customer_id,name,email,address
0,9c9c1087-6b27-4361-8e79-611e3df12168,Sarah Villarreal,wmorrow@example.com,"37682 Pierce Street Suite 521, New Dawn, OK 48805"
1,ccec5fb4-fffe-4730-986b-3eac90ea0982,Frank Brown,katherine37@example.org,"7610 Rivers Skyway Apt. 020, Mcintyrebury, HI ..."
2,f75086f4-2644-4a29-a3f3-ceb665891e41,Tracy Casey,rachel83@example.com,"USCGC Griffin, FPO AP 90602"
3,288f9229-e63b-436b-98a5-f87436d93b22,Brittany Cunningham,invalid_email@,"568 Douglas Skyway Suite 045, Port Kimberlyber..."
4,9b6c2795-c617-4318-b0d4-da8082592f44,Cheryl Osborn,zjones@example.com,"458 Daugherty Divide, West Jamestown, HI 25448"
...,...,...,...,...
995,c99aecae-2fed-4541-9427-3a479bba5894,Natalie Adams,@example.com,"28138 Charles Underpass, Harrisburgh, MT 58237"
996,64480ba8-0769-41c5-9f87-16ecc9b8fea6,Sharon Lopez,anneparks@example.org,"3838 Bond Cape Suite 906, Alexisbury, RI 47307"
997,2fde54c7-1c3a-4a7e-b890-366ee760e2fe,Christine Lopez,cjones@example.net,"1999 Robert Crossing, Bernardmouth, SC 07076"
998,7bddd909-17ef-48be-915c-48b67654dc80,Tara Chan,coreyhill@example.org,"14037 White Passage Suite 999, East Gilbert, M..."
999,9d3311b4-6d0e-412f-896a-8f4ee7038f85,Caitlin Hernandez,remember@example,"219 David Square, Ashleyborough, NJ 35199"

Ok so If it was a correct email address, It must start without "invalid" word, as well as have a domain. start off '@' letter and then organisation name and '.com', '.net', or '.org'

In [ ]:
def is_valid_email(email):
    if pd.isnull(email):
        return False
    email = str(email)
    if email.lower().startswith('invalid'):
        return False
    if '@' not in email:
        return False
    username, _, domain = email.partition('@')
    if not username.strip():
        return False
    if '.' not in domain:
        return False
    if not domain.lower().endswith(('.com', '.net', '.org')):
        return False
    return True

filtered_customers_df = customers_df[customers_df['email'].apply(is_valid_email)]

In [15]:
for index, row in filtered_customers_df.iterrows():
    email = row['email']
    print(f"Valid email: {email}")
    # if not is_valid_email(email):
    #     print(f"Invalid email found: {email}")
    # else:
        # print(f"Valid email: {email}")

Valid email: wmorrow@example.com
Valid email: katherine37@example.org
Valid email: rachel83@example.com
Valid email: zjones@example.com
Valid email: monicajackson@example.com
Valid email: jennifer52@example.org
Valid email: jmurphy@example.org
Valid email: georgehernandez@example.com
Valid email: cunninghamkevin@example.com
Valid email: joseph93@example.com
Valid email: michaelmiller@example.com
Valid email: charlescortez@example.net
Valid email: gregoryandrews@example.org
Valid email: qzamora@example.com
Valid email: stevenroberts@example.org
Valid email: aaronnelson@example.com
Valid email: denisehorne@example.org
Valid email: jessica13@example.com
Valid email: uking@example.net
Valid email: wendy57@example.org
Valid email: nicole16@example.com
Valid email: jose45@example.com
Valid email: lisa24@example.com
Valid email: yvonnemartinez@example.org
Valid email: fsmith@example.com
Valid email: jpetersen@example.com
Valid email: uheath@example.com
Valid email: armstrongchris@example.org
Valid email: rebecca73@example.com
Valid email: brian01@example.com
Valid email: christopherwright@example.org
Valid email: bradley60@example.org
Valid email: mrussell@example.net
Valid email: josephjason@example.org
Valid email: georgeamy@example.org
Valid email: zacharyfields@example.net
Valid email: rodney40@example.net
Valid email: ghernandez@example.net
Valid email: qrodriguez@example.net
Valid email: zmartinez@example.com
Valid email: samuelmartin@example.com
Valid email: jennifervelazquez@example.net
Valid email: pmitchell@example.net
Valid email: karen01@example.net
Valid email: michaellawrence@example.com
Valid email: ikey@example.com
Valid email: gmartinez@example.org
Valid email: bgarner@example.com
Valid email: moorenichole@example.com
Valid email: nelsonleslie@example.com
Valid email: welchamy@example.org
Valid email: jenniferthomas@example.org
Valid email: sarahmorris@example.com
Valid email: vrosales@example.com
Valid email: llee@example.com
Valid email: jason45@example.net
Valid email: jeremy09@example.com
Valid email: suttonmaria@example.net
Valid email: nicholas95@example.net
Valid email: billy63@example.org
Valid email: carolyn85@example.net
Valid email: jimenezrichard@example.com
Valid email: owatson@example.com
Valid email: toddaaron@example.net
Valid email: cannonjoshua@example.com
Valid email: oclark@example.org
Valid email: conradamanda@example.org
Valid email: leeamanda@example.com
Valid email: michaellewis@example.org
Valid email: sara57@example.com
Valid email: stonerebecca@example.com
Valid email: qcastro@example.net
Valid email: meganmacias@example.com
Valid email: jenkinslinda@example.net
Valid email: joshuamorgan@example.com
Valid email: joshua91@example.net
Valid email: ericgonzalez@example.org
Valid email: erik40@example.org
Valid email: iwilson@example.com
Valid email: ronald92@example.com
Valid email: brian66@example.com
Valid email: shelianguyen@example.net
Valid email: jessica10@example.org
Valid email: bennettjessica@example.net
Valid email: rflores@example.com
Valid email: kmorgan@example.net
Valid email: justinmoyer@example.net
Valid email: wesley41@example.org
Valid email: jerry27@example.org
Valid email: brent05@example.org
Valid email: kdunn@example.org
Valid email: jacobmills@example.net
Valid email: kendra69@example.net
Valid email: jodyjohnson@example.net
Valid email: anthonyrodriguez@example.net
Valid email: leahjackson@example.org
Valid email: xjohnson@example.net
Valid email: sean84@example.org
Valid email: edward54@example.org
Valid email: jonathan11@example.net
Valid email: jenniferrivera@example.com
Valid email: christian82@example.com
Valid email: andersonbrenda@example.net
Valid email: amandamartinez@example.com
Valid email: john89@example.net
Valid email: dwoods@example.org
Valid email: josephperkins@example.org
Valid email: jesseromero@example.org
Valid email: payneandre@example.org
Valid email: simmonsjennifer@example.org
Valid email: wolfryan@example.com
Valid email: michael41@example.net
Valid email: lindseyjohnston@example.net
Valid email: laura26@example.org
Valid email: marybutler@example.org
Valid email: howardjoshua@example.net
Valid email: xcalderon@example.com
Valid email: evalentine@example.org
Valid email: jmay@example.com
Valid email: tleblanc@example.com
Valid email: wturner@example.org
Valid email: wroach@example.com
Valid email: jonessamantha@example.net
Valid email: carla68@example.net
Valid email: julia37@example.net
Valid email: gtrevino@example.net
Valid email: dmartinez@example.org
Valid email: larrycunningham@example.org
Valid email: yvette74@example.net
Valid email: kellysarah@example.com
Valid email: bruceho@example.com
Valid email: thompsonderek@example.net
Valid email: mariohatfield@example.org
Valid email: paul09@example.com
Valid email: wguzman@example.net
Valid email: mary02@example.net
Valid email: schaeferjessica@example.com
Valid email: jvalentine@example.org
Valid email: jessicabenjamin@example.com
Valid email: simmonskristina@example.org
Valid email: camposkelsey@example.net
Valid email: lopezphillip@example.com
Valid email: jgordon@example.net
Valid email: jennifercarney@example.org
Valid email: brookssheila@example.org
Valid email: franklambert@example.net
Valid email: wrighttimothy@example.com
Valid email: ewalton@example.com
Valid email: rcooper@example.net
Valid email: eric35@example.net
Valid email: riveradavid@example.org
Valid email: josemiller@example.net
Valid email: ryanfoley@example.com
Valid email: bakerbrent@example.net
Valid email: brittany38@example.org
Valid email: sarahrobles@example.com
Valid email: rodriguezpaul@example.net
Valid email: nicolecruz@example.org
Valid email: cindypierce@example.org
Valid email: diane79@example.com
Valid email: sheltonjamie@example.org
Valid email: uelliott@example.net
Valid email: kempkim@example.com
Valid email: kelly90@example.com
Valid email: rodriguezpatricia@example.net
Valid email: warrenrobyn@example.net
Valid email: bakermichael@example.net
Valid email: mcclaintimothy@example.org
Valid email: marie59@example.net
Valid email: sherribass@example.org
Valid email: debra04@example.net
Valid email: mbryant@example.com
Valid email: kimberly76@example.org
Valid email: samanthaconway@example.com
Valid email: uking@example.org
Valid email: danderson@example.net
Valid email: kyle19@example.net
Valid email: nathaniel38@example.com
Valid email: frederickandrea@example.org
Valid email: melissa13@example.com
Valid email: shanejones@example.org
Valid email: barbarabaker@example.net
Valid email: zkirby@example.com
Valid email: mbrown@example.net
Valid email: sherri79@example.net
Valid email: sclark@example.com
Valid email: turnerbradley@example.org
Valid email: tonya73@example.com
Valid email: amanda37@example.org
Valid email: kelly87@example.com
Valid email: wandaphillips@example.org
Valid email: jacksonrobyn@example.com
Valid email: hwilliams@example.com
Valid email: wrodriguez@example.org
Valid email: amandamclaughlin@example.com
Valid email: amberpowell@example.com
Valid email: royjames@example.org
Valid email: kaylawebb@example.net
Valid email: sancheznatasha@example.net
Valid email: taylorellis@example.com
Valid email: christopherallen@example.org
Valid email: marynichols@example.net
Valid email: ashleylynn@example.net
Valid email: petersenbrenda@example.net
Valid email: sclark@example.org
Valid email: qbowman@example.com
Valid email: heatherhall@example.org
Valid email: cuevasbrooke@example.org
Valid email: catherinejimenez@example.org
Valid email: eperez@example.com
Valid email: christopherlucas@example.com
Valid email: kennethrodriguez@example.net
Valid email: benjamin56@example.net
Valid email: lewisjohn@example.org
Valid email: seanmartin@example.net
Valid email: collinslauren@example.com
Valid email: hernandezseth@example.com
Valid email: tuckerchristine@example.com
Valid email: chad25@example.net
Valid email: jean41@example.net
Valid email: michaelwilliams@example.net
Valid email: rebeccaadams@example.com
Valid email: johnstonjody@example.org
Valid email: kmeyer@example.net
Valid email: joneschristopher@example.com
Valid email: bruce59@example.net
Valid email: vanessachambers@example.net
Valid email: danielwalker@example.net
Valid email: johnmorris@example.com
Valid email: rebekah70@example.org
Valid email: christopher91@example.com
Valid email: ashleygreen@example.net
Valid email: adam90@example.org
Valid email: nguyenchristopher@example.net
Valid email: turnerjohn@example.com
Valid email: nathandonaldson@example.org
Valid email: kathleentaylor@example.org
Valid email: sarah28@example.net
Valid email: vfrey@example.org
Valid email: gibsonjoshua@example.org
Valid email: rossgina@example.com
Valid email: susan48@example.com
Valid email: leesuzanne@example.org
Valid email: gilbertkevin@example.org
Valid email: danielcampbell@example.org
Valid email: carolynmartinez@example.net
Valid email: timothy66@example.org
Valid email: lamberttoni@example.net
Valid email: matthewmitchell@example.org
Valid email: michele58@example.com
Valid email: christopherle@example.org
Valid email: tracey48@example.net
Valid email: berrybreanna@example.net
Valid email: clintonbarnes@example.net
Valid email: vturner@example.com
Valid email: gbrooks@example.com
Valid email: mckinneyanthony@example.com
Valid email: richardsbrittany@example.org
Valid email: jameskelly@example.net
Valid email: lawrencejulia@example.net
Valid email: ginamartinez@example.com
Valid email: matthew33@example.com
Valid email: ljensen@example.net
Valid email: valenzuelatrevor@example.net
Valid email: kturner@example.com
Valid email: smithwayne@example.org
Valid email: donna49@example.org
Valid email: hugheskatherine@example.net
Valid email: thomastammy@example.org
Valid email: chad14@example.com
Valid email: carterjamie@example.com
Valid email: nicholasmcdaniel@example.com
Valid email: terrenceswanson@example.org
Valid email: walkerbrian@example.com
Valid email: brandysutton@example.org
Valid email: sharilewis@example.com
Valid email: jameshatfield@example.com
Valid email: deanna56@example.net
Valid email: lauren42@example.com
Valid email: jason45@example.net
Valid email: albertlowe@example.org
Valid email: kellydawn@example.org
Valid email: kramsey@example.com
Valid email: angelacopeland@example.net
Valid email: sierrajohnson@example.org
Valid email: douglas84@example.net
Valid email: jordan41@example.com
Valid email: joseph93@example.org
Valid email: hansenedward@example.org
Valid email: michaelchavez@example.org
Valid email: glee@example.com
Valid email: vjohnson@example.org
Valid email: bretttanner@example.org
Valid email: xmorris@example.net
Valid email: heatherryan@example.org
Valid email: wisejohn@example.net
Valid email: robertcoleman@example.org
Valid email: phillipsdonald@example.com
Valid email: sandersrobert@example.com
Valid email: jasonzimmerman@example.com
Valid email: brianna91@example.com
Valid email: lucasjohn@example.net
Valid email: jjohnston@example.com
Valid email: michaelsullivan@example.com
Valid email: isanders@example.com
Valid email: zpowers@example.com
Valid email: wlarsen@example.org
Valid email: sharonlamb@example.com
Valid email: rhodesapril@example.net
Valid email: ericdawson@example.com
Valid email: donaldbrown@example.com
Valid email: ystout@example.com
Valid email: andreawolf@example.com
Valid email: hillbryan@example.net
Valid email: bradley24@example.org
Valid email: tammynewman@example.net
Valid email: plee@example.org
Valid email: sjensen@example.net
Valid email: rmitchell@example.net
Valid email: stephaniesullivan@example.com
Valid email: eglover@example.org
Valid email: davidfinley@example.org
Valid email: rbaldwin@example.org
Valid email: timothysmith@example.com
Valid email: pjackson@example.org
Valid email: barbara11@example.com
Valid email: hendersonalexander@example.org
Valid email: jean29@example.org
Valid email: william58@example.org
Valid email: ocoffey@example.net
Valid email: robert74@example.net
Valid email: rogerlopez@example.org
Valid email: hansonchase@example.com
Valid email: gwendolyn28@example.org
Valid email: gregorynichols@example.org
Valid email: lwest@example.org
Valid email: julielewis@example.com
Valid email: cynthiastanley@example.org
Valid email: juan28@example.net
Valid email: russellrichard@example.org
Valid email: hodgetaylor@example.net
Valid email: christopherflores@example.org
Valid email: greeneshane@example.net
Valid email: rsimmons@example.net
Valid email: rstone@example.org
Valid email: martinraymond@example.com
Valid email: manuel58@example.org
Valid email: jonathan38@example.com
Valid email: kathleenchandler@example.net
Valid email: hjohnson@example.com
Valid email: jeffrey65@example.org
Valid email: rebeccamiller@example.com
Valid email: fletcherkevin@example.net
Valid email: watsonalexander@example.com
Valid email: tammymorrison@example.com
Valid email: desiree10@example.net
Valid email: deleonjessica@example.net
Valid email: brett41@example.net
Valid email: victor86@example.com
Valid email: davislinda@example.com
Valid email: zblake@example.com
Valid email: vaughnjudy@example.net
Valid email: donnabrown@example.com
Valid email: michellerodriguez@example.org
Valid email: tdalton@example.org
Valid email: kyle82@example.com
Valid email: nicolepatel@example.net
Valid email: williamswarren@example.net
Valid email: troy44@example.net
Valid email: johnathan33@example.org
Valid email: brian49@example.com
Valid email: meganthomas@example.org
Valid email: floreshailey@example.com
Valid email: kelsey72@example.net
Valid email: jerry81@example.net
Valid email: rodgersantonio@example.net
Valid email: gloria58@example.net
Valid email: michael02@example.org
Valid email: steven37@example.org
Valid email: carrollpeter@example.net
Valid email: lewiskeith@example.net
Valid email: vcarter@example.org
Valid email: stevenbecker@example.net
Valid email: wilsonamanda@example.org
Valid email: ogarcia@example.net
Valid email: zacharyluna@example.net
Valid email: jerry99@example.org
Valid email: james55@example.com
Valid email: grayjennifer@example.com
Valid email: christinahammond@example.net
Valid email: beth18@example.com
Valid email: martinwhitney@example.org
Valid email: richardmitchell@example.org
Valid email: nixonlinda@example.com
Valid email: allencharles@example.org
Valid email: oterry@example.com
Valid email: whitneypatrick@example.org
Valid email: michellebernard@example.org
Valid email: deborah26@example.net
Valid email: mcdowellrobert@example.org
Valid email: mcneilapril@example.org
Valid email: andreamoore@example.org
Valid email: ajones@example.org
Valid email: natasha72@example.com
Valid email: davisrobin@example.net
Valid email: sharonsawyer@example.org
Valid email: aanderson@example.net
Valid email: mariahernandez@example.com
Valid email: eramos@example.net
Valid email: wwilliams@example.com
Valid email: maddoxkatherine@example.com
Valid email: andrew31@example.com
Valid email: jesus91@example.com
Valid email: williswilliam@example.com
Valid email: roblesbetty@example.net
Valid email: sharonbeasley@example.com
Valid email: kennethcooper@example.com
Valid email: donald39@example.net
Valid email: karen66@example.org
Valid email: bdelgado@example.net
Valid email: simsjoshua@example.com
Valid email: castrowilliam@example.org
Valid email: jonesleah@example.org
Valid email: tedwards@example.com
Valid email: ganderson@example.net
Valid email: charles72@example.net
Valid email: jason46@example.com
Valid email: brendanwoods@example.org
Valid email: hhiggins@example.net
Valid email: melinda64@example.org
Valid email: garciacheryl@example.net
Valid email: hoodanthony@example.net
Valid email: edwardchambers@example.com
Valid email: plambert@example.com
Valid email: angelica46@example.org
Valid email: jamesoconnor@example.org
Valid email: darlenejohnston@example.com
Valid email: dana89@example.com
Valid email: zcontreras@example.com
Valid email: omoon@example.com
Valid email: romeronicole@example.org
Valid email: swright@example.com
Valid email: linda96@example.net
Valid email: jacksonkaren@example.org
Valid email: joseph77@example.org
Valid email: mortonjason@example.org
Valid email: grayandrea@example.net
Valid email: vshaffer@example.com
Valid email: vbarajas@example.net
Valid email: katherine58@example.org
Valid email: jacobmcdonald@example.net
Valid email: tonya50@example.net
Valid email: wlarsen@example.org
Valid email: jeremyramsey@example.com
Valid email: jennywang@example.net
Valid email: johnsonandrew@example.com
Valid email: shariwatson@example.com
Valid email: garciaterry@example.org
Valid email: larry58@example.org
Valid email: brennanchris@example.com
Valid email: calebwright@example.com
Valid email: brianna46@example.net
Valid email: awillis@example.com
Valid email: stephen45@example.org
Valid email: michael72@example.com
Valid email: jenniferhahn@example.net
Valid email: tiffanyfrancis@example.com
Valid email: reynoldsmichelle@example.net
Valid email: juliathompson@example.org
Valid email: jakeroberts@example.com
Valid email: amandacampbell@example.net
Valid email: mitchellkevin@example.com
Valid email: stephenjenkins@example.com
Valid email: shermandavid@example.com
Valid email: jonesrobin@example.net
Valid email: ericlopez@example.org
Valid email: sarahrivera@example.com
Valid email: elizabethray@example.org
Valid email: georgetommy@example.com
Valid email: amoreno@example.org
Valid email: jennifermiles@example.org
Valid email: garciadaniel@example.org
Valid email: juliewallace@example.net
Valid email: careyrobert@example.org
Valid email: amandawells@example.net
Valid email: ybowen@example.com
Valid email: mmurphy@example.com
Valid email: timothy98@example.org
Valid email: wcardenas@example.com
Valid email: zlopez@example.net
Valid email: ramirezwesley@example.net
Valid email: garythompson@example.org
Valid email: glasshaley@example.net
Valid email: charlesmorrison@example.net
Valid email: williamsalex@example.com
Valid email: angelamejia@example.org
Valid email: ronald70@example.org
Valid email: murphybrian@example.org
Valid email: okeller@example.net
Valid email: youngkimberly@example.org
Valid email: pgallegos@example.org
Valid email: michael29@example.net
Valid email: jennifernunez@example.com
Valid email: zhaynes@example.org
Valid email: kaylamclaughlin@example.com
Valid email: freemanmichael@example.net
Valid email: sanchezmark@example.net
Valid email: kathy42@example.com
Valid email: james05@example.org
Valid email: courtney97@example.net
Valid email: joneschristine@example.org
Valid email: morganjordan@example.com
Valid email: eramos@example.net
Valid email: sara64@example.net
Valid email: stephanie77@example.com
Valid email: sara92@example.com
Valid email: calvinjackson@example.org
Valid email: peter75@example.org
Valid email: hallmary@example.net
Valid email: luke27@example.com
Valid email: charles78@example.org
Valid email: lisa66@example.org
Valid email: zhudson@example.com
Valid email: summersmatthew@example.com
Valid email: ijones@example.com
Valid email: elizabeth52@example.com
Valid email: joneskathleen@example.com
Valid email: vjackson@example.com
Valid email: amandalindsey@example.net
Valid email: scook@example.com
Valid email: shawkins@example.com
Valid email: josegonzalez@example.com
Valid email: ashley64@example.com
Valid email: oscott@example.org
Valid email: waynerobles@example.com
Valid email: steven38@example.com
Valid email: feliciarodgers@example.com
Valid email: lgonzales@example.org
Valid email: kristasimmons@example.com
Valid email: jenna82@example.net
Valid email: chelseamarshall@example.net
Valid email: juliejohnson@example.com
Valid email: brandy12@example.net
Valid email: terryjacob@example.net
Valid email: davidsalinas@example.net
Valid email: georgeryan@example.org
Valid email: vmendoza@example.net
Valid email: mary73@example.net
Valid email: beckertimothy@example.net
Valid email: onealjennifer@example.org
Valid email: davidroth@example.com
Valid email: brosario@example.org
Valid email: tewing@example.com

In [ ]:
cleaned_customers_df['customer_id_LEN'] = cleaned_customers_df['customer_id'].str.len()
cleaned_customers_df['name_LEN'] = cleaned_customers_df['name'].str.len()
cleaned_customers_df['email_LEN'] = cleaned_customers_df['email'].str.len()
cleaned_customers_df['address_LEN'] = cleaned_customers_df['address'].str.len()

cleaned_customers_df.describe(include='all')

,customer_id,name,email,address,customer_id_LEN,name_LEN,email_LEN,address_LEN
count,948,948,948,948,948.0,948.000000,948.000000,948.000000
unique,948,938,853,948,NaN,NaN,NaN,NaN
top,9d3311b4-6d0e-412f-896a-8f4ee7038f85,Tyler Johnson,@example.com,"219 David Square, Ashleyborough, NJ 35199",NaN,NaN,NaN,NaN
freq,1,2,54,1,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,36.0,13.417722,20.705696,44.731013
std,NaN,NaN,NaN,NaN,0.0,2.403048,4.177540,7.654802
min,NaN,NaN,NaN,NaN,36.0,8.000000,11.000000,22.000000
25%,NaN,NaN,NaN,NaN,36.0,12.000000,19.000000,40.000000
50%,NaN,NaN,NaN,NaN,36.0,13.000000,21.000000,45.000000
75%,NaN,NaN,NaN,NaN,36.0,15.000000,24.000000,51.000000
max,NaN,NaN,NaN,NaN,36.0,24.000000,30.000000,65.000000

ok my customer table will have 4 coumns:
1.Customer_id nvarchar(50)
2.name nvarchar(50)
3.email nvarchar(100)
4.address nvarchar(1000)

In [16]:
transactions_df = pd.read_csv(r'D:\Project\Test\FPT_TEST00\datasource\transactions.csv')

In [17]:
transactions_df

,transaction_id,customer_id,transaction_date,amount
0,7bf0b33b-570e-47f8-a254-fbb052d00468,e2640a8e-577e-4013-be5c-f23547f9ac33,7/9/2022,433.63
1,c7617395-8215-470f-81c0-0c5a070b9050,73beef70-ff31-43da-baad-56a019328cda,9/11/2022,208.32
2,f52553d3-b538-4265-8ec6-247aac2a6701,ab11f1dd-4754-451b-a924-9ec3411c5cf6,10/28/2022,616.61
3,d09b39cc-cc28-41a5-b73b-3255e4461106,223c1193-6c63-44e2-be3e-7e4c6ef74ddd,2023-02-30,355.98
4,1ac9a625-4c15-4320-a55e-42074273ee04,6e567036-795c-4e35-b878-008e60d54869,2025-01-40,202.86
...,...,...,...,...
200995,a9ad825e-0509-43c5-9d87-69b362d55add,b5cbdc91-1f23-4b61-9dda-33c3ba6fbeeb,8/30/2022,746.90
200996,96be6c90-926d-4fb3-8c5e-624eebed72de,8065e6f4-a927-4313-acd5-081de75e1716,2025-01-40,923.65
200997,9266d254-c767-4fc9-afd6-914fa0576583,6a4e6784-f5ff-42c8-aeed-702eaa6a8523,11/25/2023,993.77
200998,018f4742-99b3-4ed5-90a3-02009b80fa63,ecd1e7a8-a2f5-4c60-b985-0a89b784e842,TRUE,342.33
200999,e78585c4-0bcf-4c4f-a381-db93d82031e3,a6122bf1-1826-4393-b6d2-0d2f3dc1ee4e,1/19/2021,143.58

In [20]:
# remove duplicate entries
transactions_df = transactions_df.drop_duplicates()
# find invalid transaction dates (e.g., 2024-13-45).
def is_valid_date(date_str):
    for fmt in ('%m/%d/%Y', '%Y-%m-%d'):
        try:
            pd.to_datetime(date_str, format=fmt, errors='raise')
            return True
        except Exception:
            continue
    return False

valid_transactions_df = transactions_df[transactions_df['transaction_date'].apply(is_valid_date)]

In [22]:
valid_transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 159892 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    159892 non-null  object
 1   customer_id       159892 non-null  object
 2   transaction_date  159892 non-null  object
 3   amount            159892 non-null  float64
dtypes: float64(1), object(3)
memory usage: 6.1+ MB

In [31]:
valid_transactions_df['transaction_id_LEN'] = valid_transactions_df['transaction_id'].str.len()
valid_transactions_df['customer_id_LEN'] = valid_transactions_df['customer_id'].str.len()
valid_transactions_df['transaction_date_LEN'] = valid_transactions_df['transaction_date'].str.len()

valid_transactions_df.describe(include='all')

C:\Users\Admin\AppData\Local\Temp\ipykernel_8472\2774465773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_transactions_df['transaction_id_LEN'] = valid_transactions_df['transaction_id'].str.len()
C:\Users\Admin\AppData\Local\Temp\ipykernel_8472\2774465773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_transactions_df['customer_id_LEN'] = valid_transactions_df['customer_id'].str.len()
C:\Users\Admin\AppData\Local\Temp\ipykernel_8472\2774465773.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_transactions_df['transaction_date_LEN'] = valid_transactions_df['transaction_date'].str.len()

,transaction_id,customer_id,transaction_date,amount,transaction_id_LEN,customer_id_LEN,transaction_date_LEN
count,159892,159892,159892,159892.000000,159892.0,159892.0,159892.000000
unique,159892,1000,1845,NaN,NaN,NaN,NaN
top,61520887-fa9f-49fc-b890-c31738f46ed7,731cf588-9a91-4f91-8dbf-a4f97a472cc2,5/27/2023,NaN,NaN,NaN,NaN
freq,1,205,118,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,504.372193,36.0,36.0,8.950898
std,NaN,NaN,NaN,285.954036,0.0,0.0,0.633627
min,NaN,NaN,NaN,10.000000,36.0,36.0,3.000000
25%,NaN,NaN,NaN,256.230000,36.0,36.0,9.000000
50%,NaN,NaN,NaN,504.670000,36.0,36.0,9.000000
75%,NaN,NaN,NaN,752.242500,36.0,36.0,9.000000
max,NaN,NaN,NaN,999.990000,36.0,36.0,10.000000

In [34]:
valid_transactions_df[valid_transactions_df['transaction_date_LEN'] == 9.0]

,transaction_id,customer_id,transaction_date,amount,transaction_id_LEN,customer_id_LEN,transaction_date_LEN
1,c7617395-8215-470f-81c0-0c5a070b9050,73beef70-ff31-43da-baad-56a019328cda,9/11/2022,208.32,36,36,9
7,0b9eb137-0a6f-47b7-b1ac-921b01cda06e,d2e920c7-4daf-4739-8588-02d025d7b640,9/20/2021,122.80,36,36,9
10,de319751-1c6f-4cf3-a261-3d6fbf737f03,0c646d87-3866-4680-90d5-0da4acee0d17,9/24/2023,592.12,36,36,9
12,cb6a964a-5e6a-44d4-8885-f60d15895203,b0e84a29-0b59-4291-8747-e436843adbc3,8/27/2022,609.56,36,36,9
18,e1bc184f-bc93-49e9-beb2-6be98277c625,71194286-1663-4920-af1c-0d8a243f4c56,7/22/2022,615.02,36,36,9
...,...,...,...,...,...,...,...
199984,b2779724-721b-4979-81e7-4948e487e3b2,26f15853-2fcb-4667-8581-f88f126827f0,1/20/2021,930.18,36,36,9
199987,386c5d50-022b-49ad-966d-323afff0cd0a,ae61bddc-3eab-4a76-a7f6-646f269b388e,2/20/2023,922.30,36,36,9
199991,55ca9a2a-fca5-4520-aaa2-3d05eb13ce50,66177476-19c6-4150-8306-565b31352558,8/27/2021,101.00,36,36,9
199996,98fb2be5-502a-45a0-89d4-8a8ad5746451,c2b3699f-eb3c-4c13-89af-b725f5bf2045,8/17/2020,442.31,36,36,9
199999,61520887-fa9f-49fc-b890-c31738f46ed7,ff9de069-b96b-4c63-9ec2-946f5732114a,4/12/2020,284.32,36,36,9

ok my transactions table will have 4 coumns:
1.transaction_id nvarchar(50)
2.customer_id nvarchar(50)
3.date date
4.amount float

In [23]:
products_df = pd.read_csv(r'D:\Project\Test\FPT_TEST00\datasource\products.csv')

In [24]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    50000 non-null  object
 1   product_name  49940 non-null  object
 2   category      50000 non-null  object
 3   price         50000 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.5+ MB

In [25]:
products_df.head()

                             product_id product_name     category   price
0  bc4505ae-03e9-43cc-99d9-469af72cad29         Dark      fashion  220.44
1  2a43f240-66f5-4b6b-b8d9-4f5db35e4192      Program  electronics  201.70
2  d4dc6c27-fa68-4f87-a41e-df32b4d0629b     Increase  electronics  302.52
3  2cd573ef-3f95-4803-9aec-afdf635222ce      Finally  Electronics  159.74
4  a667fa44-ff3a-4624-b3c2-5860ee87413b        Start      fashion  173.09

Ok I will upper all value in prodcut_name and category

In [26]:
products_df['product_name'] = products_df['product_name'].str.upper()
products_df['category'] = products_df['category'].str.upper()

In [27]:
products_df

                                 product_id product_name     category   price
0      bc4505ae-03e9-43cc-99d9-469af72cad29         DARK      FASHION  220.44
1      2a43f240-66f5-4b6b-b8d9-4f5db35e4192      PROGRAM  ELECTRONICS  201.70
2      d4dc6c27-fa68-4f87-a41e-df32b4d0629b     INCREASE  ELECTRONICS  302.52
3      2cd573ef-3f95-4803-9aec-afdf635222ce      FINALLY  ELECTRONICS  159.74
4      a667fa44-ff3a-4624-b3c2-5860ee87413b        START      FASHION  173.09
...                                     ...          ...          ...     ...
49995  0d929eb9-84a0-4f92-8cb6-4f91803dd1c9      PREVENT  ELECTRONICS   35.42
49996  dc1e0c13-bc85-44f9-9153-2210d112b050         HAIR  ELECTRONICS  482.47
49997  13193104-6dfe-444f-918a-328f14706ebf         WHOM  ELECTRONICS  473.11
49998  f7022f4b-5460-4fa8-9a86-30585d68a748         BACK  ELECTRONICS  480.48
49999  ec8a3388-88fa-49b2-9c25-d92a2848af8b        CAUSE         HOME  446.14

[50000 rows x 4 columns]

In [35]:
products_df['product_id_LEN'] = products_df['product_id'].str.len()
products_df['product_name_LEN'] = products_df['product_name'].str.len()
products_df['category_LEN'] = products_df['category'].str.len()

products_df.describe(include='all')

,product_id,product_name,category,price,product_id_LEN,product_name_LEN,category_LEN
count,50000,49940,50000,50000.000000,50000.0,49940.000000,50000.000000
unique,50000,970,3,NaN,NaN,NaN,NaN
top,2b2a1b27-b638-4b3b-a888-339dd03b3383,START,ELECTRONICS,NaN,NaN,NaN,NaN
freq,1,74,16810,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,252.683995,36.0,5.537565,7.354620
std,NaN,NaN,NaN,143.387655,0.0,2.033759,2.867778
min,NaN,NaN,NaN,5.020000,36.0,1.000000,4.000000
25%,NaN,NaN,NaN,128.047500,36.0,4.000000,4.000000
50%,NaN,NaN,NaN,252.400000,36.0,5.000000,7.000000
75%,NaN,NaN,NaN,377.525000,36.0,7.000000,11.000000
max,NaN,NaN,NaN,500.000000,36.0,14.000000,11.000000

ok my products table will have 4 coumns:
1.product_id nvarchar(50)
2.product_name nvarchar(50)
3.category nvarchar(50)
4.price float